<div class='js--task'>
	<h1><%= @category.description %></h1>
	<% if @spelling_task.present? %>
		<div><%= @spelling_task.fill_in_text %></div>
		<% @category.response_options.each do |response_option| %>
			<%= button_to(response_option, '#') %>
		<% end %>
	<% end %>
	
	<% if @next_task_index.present? %>
		<%= button_to('Weiter', topic_category_exercise_path(@category.topic, @category, @next_task_index), method: :get) %>
	<% else %>
		<%= button_to('Zurück zur Übersicht', topic_path(@category.topic), method: :get) %>
	<% end %>
</div>